// Caer SIdi
@font-face {
	font-family: CaerSidi;
	src: url('../fonts/FontCaerSidi/CaerSidi.ttf');
	font-style: normal;
}
@font-face {
	font-family: CaerSidiSvg;
	src: url('../fonts/FontCaerSidi/CaerSidi.svg');
	font-style: normal;
}

// Raleway Family
@font-face {
	font-family: Raleway-Regular;
	src: url('../fonts/Raleway/Raleway-Regular.ttf');
	font-style: normal;
}
@font-face {
	font-family: Raleway-Bold;
	src: url('../fonts/Raleway/Raleway-Bold.ttf');
	font-style: normal;
}
@font-face {
	font-family: Raleway-Medium;
	src: url('../fonts/Raleway/Raleway-Medium.ttf');
	font-style: normal;
}
@font-face {
	font-family: Raleway-Light;
	src: url('../fonts/Raleway/Raleway-Light.ttf');
	font-style: normal;
}