@media screen and (min-width: 320px) and (max-width: 360px) {
	/* header block start */
	.header-block{
		padding-bottom: 46px;
		.container {
			padding: initial;
			margin: 0;
		}
		&__title {
			text-align: center;
			h1 {
				font: 2.25rem $RalewayBold;
				text-transform: initial;
				line-height: 66px;
			}
		}
		&__content {
			margin: 36px 0 56px;
			img { display: none; }
		}
		&__text{
			width: initial;
			text-align: center;
			margin: 0;
		}
		&__action{
			text-align: center;
			.header-block__slide01{	margin: 0 10px 0 0; }
			.header-block__slide02{	margin: 0 0 0 10px; }
			.header-block__arrow{ display: none; }
		}
		&__portfolio {
			margin-bottom: 149px;
			text-align: center;
			a{ display: initial; }
		}
		.order-12 { order: 12; }
		.order-2 { order: 2; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		padding-left: 0;
		&__title{ margin: 60px 0 39px;
			h2{
				font-size: 1.5rem;
				line-height: 120%;
			}
		}
		&__content{
			margin: 0 0 60px;
			.content-list{ padding: 0; }
		}
	}
	/* Marketing Block end */
	.portfolio-block{
		&__01,
		&__02,
		&__03{ padding-left: 0; }
	}
	.dark-text .request-block{
		padding-left: 0;
		&__form{
			.form-sendbtn{
				width: 100%;
				display: inline-block;
				align-items: unset;
			}
		}
	}
	.dark-text.footer-block .footer-social {
		margin: 0 20px;
		svg{ margin: 10px 0; }
	}
}
@media screen and (min-width: 361px) and (max-width: 479px) {
	.container{ padding-left: 15px; }
	/* header block start */
	.header-block{
		padding-bottom: 46px;
		.container {
			padding: initial;
			margin: 0;
		}
		&__title {
			text-align: center;
			h1 {
				font: 2.25rem $RalewayBold;
				text-transform: initial;
				line-height: 66px;
			}
		}
		&__content {
			margin: 36px 0 56px;
			img { display: none; }
		}
		&__text{
			width: initial;
			text-align: center;
			margin: 0;
		}
		&__action{
			text-align: center;
			.header-block__slide01{	margin: 0 10px 0 0; }
			.header-block__slide02{	margin: 0 0 0 10px; }
			.header-block__arrow{ display: none; }
		}
		&__portfolio {
			margin-bottom: 149px;
			text-align: center;
			a{ display: initial; }
		}
		.order-12 { order: 12; }
		.order-2 { order: 2; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		padding-left: 0;
		&__title{ margin: 60px 0 39px;
			h2{
				font-size: 2.25rem;
				line-height: 120%;
			}
		}
		&__content{
			margin: 0 0 60px;
			.content-list{ padding: 0; }
		}
	}
	/* Marketing Block end */
	.portfolio-block{
		&__01,
		&__02,
		&__03{ padding-left: 0; }
	}
	.dark-text .request-block{
		padding-left: 0;
		&__form{
			.form-sendbtn{
				width: 100%;
				display: inline-block;
				align-items: unset;
			}
		}
	}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	/* header block start */
	.header-block{
		padding-bottom: 46px;
		.container { padding: 0 16px; }
		&__title {
			text-align: center;
			h1 {
				font: 2.25rem $RalewayBold;
				text-transform: initial;
				line-height: 66px;
			}
		}
		&__content {
			margin: 36px 0 56px;
			img { display: none; }
		}
		&__text{
			width: initial;
			text-align: center;
			margin: 0;
		}
		&__action{
			text-align: center;
			.header-block__slide01{	margin: 0 10px 0 0; }
			.header-block__slide02{	margin: 0 0 0 10px; }
			.header-block__arrow{ display: none; }
		}
		&__portfolio {
			margin-bottom: 149px;
			text-align: center;
			a{ display: initial; }
		}
		.order-12 { order: 12; }
		.order-2 { order: 2; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		padding-left: 0;
		.container { padding: 0 16px; }
		&__title{ margin: 60px 0 39px;
			h2{
				font-size: 2.25rem;
				line-height: 120%;
			}
		}
		&__content{
			margin: 0 0 60px;
			.content-list{ padding: 0; }
		}
	}
	/* Marketing Block end */
	.portfolio-block{
		&__01,
		&__02,
		&__03{ padding-left: 0; }
	}
	.dark-text.request-block{
		padding-left: 0;
		.container { padding: 0 16px; }
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	/* header block start */
	.header-block{
		.container {
			padding-left: 145px;
			margin: 0;
		}
		&__title {
			h1 {
				font: 3.5rem $RalewayBold;
				text-transform: initial;
				line-height: 66px;
			}
		}
		&__content {
			margin: 56px 0 0;
			img { display: none; }
		}
		&__portfolio { margin-bottom: 56px; }
		.order-12 { order: 12; }
		.order-2 { order: 2; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		.container{
			padding: 0;
			margin: 0;
		}
		padding-left: 145px;
		&__title{ margin: 60px 0 39px;
			h2{
				font-size: 2.25rem;
				line-height: 120%;
			}
		}
		&__content{
			margin: 0 0 60px;
			.content-list{ padding: 0; }
		}
	}
	/* Marketing Block end */
	.portfolio-block{
		.container{
			padding: 0;
			margin: 0;
		}
		&__01,
		&__02,
		&__03{ padding-left: 145px; }
	}
	.dark-text.request-block{
		padding-left: 145px;
		.container{
			padding: 0;
			margin: 0;
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	/* header block start */
	.header-block{
		&__title{
			margin: 320px 0 0 45px;
			h1{
				font: 5rem Raleway-Bold; }
		}
		&__action{ margin-left: 45px; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		&__title{ margin: 125px 0 }
	}
	/* Marketing Block end */
	.pl-58{ padding-left: 58px; }
	.ml-45{ margin-left: 45px; }
	.dark-text .request-block{
		&__content{ margin-left: 45px; }
		&__form{ margin-left: 45px; }
	}
	/* Marketing Block end */
}
@media screen and (min-width: 1200px) and (max-width: 1359px) {
	/* header block start */
	.header-block{
		&__title{ margin: 320px 0 0 45px; }
		&__action{ margin-left: 45px; }
	}
	/* header block end */
	.pl-58{ padding-left: 58px; }
	.ml-45{ margin-left: 45px; }
	.dark-text .request-block{
		&__content{ margin-left: 45px; }
		&__form{ margin-left: 45px; }
	}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
	#primary { width:100%; }
	#secondary { width:100%; margin:0; border:none; }
}
//360×640
//1366×768 – 12.85%
//1920×1080 – 7.76%
//375×667 – 4.94%
//1440×900 – 3.32%
//1280×800 – 2.67%
//isPhone: w >= 320 && w < 480,
//isTablet: w >= 480 && w < 768,
//isLargeTablet: w >= 768 && w < 1024,
//isDesktop: w >= 1024 && w < 1280,
//isLargeDesktop: w >= 1280